.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
button {
  text-decoration: none;
  background-color: white;
  color: blue;
  border: none;
}
.btn {
  border: black solid 1px;
  border-radius: 10px;
  padding: 10px;
}
img {
  padding: 5px;
}